.clear-btn {
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
  outline: 1px solid #888;
  height: 4em;
  color: white;
  font-weight: 600;
  background-color:  rgb(36, 118, 165);
  margin-top: 2%;
}
