.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#root{
  background: rgb(157, 201, 241);
  display: flex;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.calculator--container{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 500px;
  background: white;
  border-radius: 5%;
  color: black;
}

.screen--container{
  height: 20%;
  display: flex;
  flex-direction: column;
}


.screen-bottom, .screen-top {
  text-align: right;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.screen-top{
  flex: 1;
  font-size: 25px;
  width: 50%;
  align-self: center;
}

.screen-bottom{
  flex: 2;
  font-size: 20px!important;
  width: 50%;
  align-self: center;
}

.keypad{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.block{
  flex: 1;
  display: flex;
}

.btn{
  flex: 1;
  border-radius: 50%;
  margin: 15px;
  border: none;
  background: whitesmoke;
  color: rgb(95, 151, 202);
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.btn--zero{
  flex: 2;
  border-radius: 95px/80px;
  align-items: end;
  display: flex;
  padding-left: 50px;
}

.btn--orange{
  background: rgb(95, 151, 202);
  color: white;
}

.btn--grey{
  background: whitesmoke;
  color: rgb(95, 151, 202);
}


@media all and (max-width: 530px) {
  .btn {
    font-size: 32px;
  }

  .calculator--container{
    width: 420px;
  }

  .btn--zero{
    padding-left: 40px
  }

  .keypad{
    flex: 0.6 0.5;
  }
}

@media all and (max-width: 420px) {
  .btn {
    font-size: 25px;
  }
}

@media all and (max-width: 400px) {
  .calculator--container{
    /* height: 70vh; */
    width: 315px;
  }
}